[2016-03-24 17:07] simonengelhardt opened #7 "Add support for specifying Instant Article style"
See documentation here: https://developers.facebook.com/docs/instant-articles/reference/article#examples-style

[2016-03-24 17:13] #7 closed

[2016-03-28 20:24] jshamley opened #11 "Class 'InstantArticle' not found"
I've followed the installation directions but am running into issues.

When I run `composer install` I get the following output:
[code]

[2016-03-28 20:36] simonengelhardt commented on #11
Thanks for checking out the SDK :+1:

Have you tried using the full namespace `Facebook\InstantArticles\Elements\InstantArticle`? You can do this in-line or by including with the `use` operator.

[2016-03-28 20:38] jshamley commented on #11
Thanks so much for the quick response, I knew it had to be something simple! :)

[2016-03-28 20:38] #11 closed

[2016-04-04 19:36] scottrigby opened #14 "Move hard-coded \Logger calls to new SDK Logger interface"
This issue is just a place to get the discussion started. I've already pinged @simonengelhardt about it and sounds like this was a quick way to get going but the intent was to refine this at some point anyway. We can really use it for https://github.com/BurdaMagazinOrg/module-fb_instant_articles. If we agree on a direction, I can help with a PR.

[2016-04-04 20:10] scottrigby commented on #14
Would you guys be willing to have the SDK depend on [Psr\Log](https://packagist.org/packages/psr/log)?

[2016-04-08 18:33] m4olivei opened #18 "How do you use the PullquoteRule and PullquoteCiteRule classes to put together a pull quote with a cite?"
I'm using the Transformer.  My target markup is this:

[code]

How do I use `PullquoteRule` and/or `PullquoteCiteRule` to transform to this:

[code]

At least it seems like `PullquoteRule` class is missing a property for the attribution?

[2016-04-09 00:18] simonengelhardt commented on #18
@everton-rosario would you be able to give @m4olivei some guidance? Thanks!

[2016-04-10 23:11] m4olivei opened #21 "Transformer logger use"
The use of the logger in the Transformer code can be awkward when appenders are used that list in reverse chronological order.  Or even just when each call to $log->debug() is stored in the database as a separate record rather then in a flat file.  For example, we are using the Instant Articles SDK in a Drupal module here https://github.com/BurdaMagazinOrg/module-fb_instant_articles and the logs c

[2016-04-10 23:34] simonengelhardt commented on #21
Thanks for flagging this @m4olivei. We could consider implementing a [custom renderer](https://logging.apache.org/log4php/docs/renderers.html), but I think just concatenating the message with newlines as you suggest is probably a simpler and better approach. We'll look into it.

[2016-04-11 17:13] everton-rosario commented on #18
I've created a test case with this markup you used and how to solve it with the rule configuration.

[code]

[2016-04-11 17:18] #18 closed

[2016-04-11 22:15] fariasf opened #23 "Class undefined: Facebook\InstantArticles\Elements\AnimatedGif in Elements/InstantArticle.php on line 196"
Hi!

When I try to run the tests I see the following error:

`Fatal error: Class undefined: Facebook\InstantArticles\Elements\AnimatedGif in /var/www/mysite/src/sites/all/modules/contrib/fb_instant_articles/vendor/facebook/facebook-instant-articles-sdk-php/src/Facebook/InstantArticles/Elements/InstantArticle.php on line 196`

I'm not familiar with the code base, but I tried to find that class and

[2016-04-12 00:37] diegoquinteiro commented on #23
Hi @fariasf, thank you so much for your feedback. That was actually a bug on v1.0.0. It should now be fixed on v1.0.1 and on master.

Can you check if that works for you?

[2016-04-12 13:16] diegoquinteiro commented on #23
Closing as the same issue was marked resolved on WordPress plugin implementation of the SDK:

https://wordpress.org/support/topic/fatal-error-class-facebookinstantarticleselementsanimatedgif-not-found?replies=4

[2016-04-12 13:16] #23 closed

[2016-04-13 08:36] YOzaz opened #26 "WYSIWYG Instant Articles transformer"
I have a proposal. In general, it's a great package, and it now has an implementation for WordPress as a plugin, which is fine. However, it may be interesting to create a package which would work as a wrapper for other systems as well.
It can be a universal package to translate ORM (or any data format) to Instant Articles format. The thing is, that most of the CMS systems actually do have database

[2016-04-13 14:14] m4olivei commented on #18
Totally works.  I've got a better understanding of the Transformer now as a result of this example.  The Transformer has been a difficult thing to wrap my head around.  There has been much xdebug-ing to better understand it, and this example helped with that too.  Thanks a bunch!

[2016-04-13 16:38] everton-rosario commented on #18
We are working to make it as simple as possible.
The problem is complex and too wide (markup interpreting/transforming).

Maybe better docs and some "why's" of architecture decisions would make it easier to extend.

If you have any other feedback regarding this, let me know.

[2016-04-13 16:42] everton-rosario commented on #21
Im considering to have a better log on the Transformation process.
Like we have today "warnings" stored under the Transformer object, we can have the step-by-step log there, and we can flush it as we finish to process the file.

Something like:
[code]

[2016-04-13 17:32] m4olivei commented on #18
Yeah, that would be good, documenting the why's.  Also more examples with source markup, transformer rules, and destination markup.

Another thing that would be good is to flesh out your custom Rule example.  I ended up figuring it out, but it was tricky.  Here's my example, and maybe there are a series of out of the box transformer rules that could do this:

Source markup (eg. http://www.bravotv.

[2016-04-13 22:28] stuartshields opened #27 "Analytics not rendering correctly"
Hi,

So if you do the following as per the Facebook SDK found here: https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/docs/QuickStart.md#elements you'll get errors:

[code]

However if you do the following it works like a charm, I think the Facebook SDK documentation needs to be updated to reflect this:

[code]

[2016-04-14 09:41] nicolinuxfr opened #28 "HTML tags in titles"
On my blog, I'm using HTML tags in the titles of my post, mainly `<em></em>` for the title of a work (like a movie). The plugin should strip HTML tags, since Instant Articles do not allow html in titles.

For instance, here is what I have in Facebook app :

![img_2649-me](https://cloud.githubusercontent.com/assets/2078386/14523764/a859927e-0235-11e6-97ae-a76a90b66434.jpg)

Here is the original URL

[2016-04-14 17:18] m4olivei commented on #27
Yeah I ran into this yesterday as well.  Agreed.

[2016-04-14 17:19] m4olivei commented on #27
Or even better, if the SDK could do the DocumentFragment stuff itself, that would be great.

[2016-04-14 17:38] everton-rosario commented on #28
There are some tags accepted inside H1 and H2. Example: <b>, <a href>, <i>.

To make it work on your case you should transform it from:
`<h1><em>Mommy</em>, Xavier Dolan</h1>`

to:

`<h1><em>Mommy</em>, Xavier Dolan</h1>`

To make it happen, just add the bellow lines to your rules.json file.

[code]

[2016-04-14 17:38] #28 closed

[2016-04-14 17:45] everton-rosario commented on #26
Hey @YOzaz, thanks for your feedback!
That would be a really nice to have feature over this engine, such as WYSIWYG editor.

Since it is a web translator tool (that works mainly with HTML documents) we have a roadmap to create a Chrome App that would be the WYSIWYG. Mainly for selectors and also an embed emulator of the InstantArticle view.

If you have some cycles to work on this we can help push

[2016-04-14 17:45] #26 closed

[2016-04-14 18:04] everton-rosario commented on #27
Hello @stuartshields  and @m4olivei, thank you for reporting the issue.
Unfortunately we ran into the same issues as you guys, fixed the test case, but the documentation became outdated.

Ill push the fix on doc and keep this issue open to solve this inside the "withHTML" method. So developers wont run into issues like this.

Thank you.

Once we have the final solution for this, Ill close the issu

[2016-04-14 18:19] nicolinuxfr commented on #28
Thanks for your answer ! Could you point me in the right direction to do this properly ? I guess I have something to add in my `functions.php` file ?

[2016-04-14 19:30] nicolinuxfr commented on #28
Now that the feed has been updated, I can confirm this setting does not work. I still have titles like this one :

`<h1>&lt;em&gt;Théo &amp; Hugo dans le même bateau&lt;/em&gt;, Olivier Ducastel et Jacques Martineau</h1>`

If you can help me debug this… :-)

[2016-04-14 19:39] m4olivei opened #31 "Auto-strip empty <p /> tags"
A lot of our content has `<p>&nbsp;</p>` in the content.  This is kind of a bad habit of editors to introduce vertical space in an article, but I digress.  Also, I've found that loading up HTML to pass to the transformer can also introduce empty `<p></p>` tags.  For example:

[code]
In the output you get:
[code]
Of course, this is bad source HTML, headings are not allowed as children of `<p>`, so

[2016-04-15 13:39] nicolinuxfr commented on #28
OK, so I see now that I made a mistake in the format. I think it is correct now like this :

` { "rules": [{ "class": "italicRule", "selector": "em" }] }`

Can you confirm it's OK ? And if it is, it does not work, unfortunately…

[2016-04-15 14:53] Faiyaz opened #35 "Transformer->loadRules($rules_file) - trying to load rule classes outside the package namespace"
I am getting 'Warning: Class .. not found' when using loadRules method. Seems like the try catch block inside loadRules needs to flip the conditions order.

[code]

[2016-04-15 17:28] localheinz opened #40 "Question: Can we have a Travis CI integration?"
Some of the other projects, for example

* https://github.com/facebook/facebook-php-sdk-v4

have it, can we have one, too?

This will increase everyone's confidence when submitting and accepting pull requests, won't it?

[2016-04-15 20:22] simonengelhardt commented on #40
Yes we can 👍  We will set this up.

[2016-04-15 20:23] localheinz commented on #40
@simonengelhardt

😃 Nice!

[2016-04-15 22:36] jose-zapata opened #45 "Installation fails, requires older version of syfony/css-selector"
I have installed symfony/css-selector v 3.0.4 and when I try to install this package it says that it requires  symfony/css-selector 2.8.* and thus it won't install. I can't downgrade symfony/css-selector because it's required for another package. Is this something that can be fixed?

[2016-04-16 16:02] scottrigby commented on #31
Regarding `<p>&nbsp;</p>`, we've tried several XPath selector variations, to no avail. Here is the general ignore rule setup we're testing:
[code]
where `$selector` has been `//*[text()="&nbsp;"]`, `//*[text()="\u0160"]`, `//*[text()=codepoints-to-string((160))]` (which breaks), and other variations using `normalize-space()`. Is anyone able to find a way to make this work, or would we need to intr

[2016-04-18 14:15] everton-rosario commented on #45
Hello jose-zapata. Thank you for your feedback and for using this SDK.
We downgraded the version of CSS-Selector to 2.8.* because this 2.8.* version is compatible with PHP 5.4 and this SDK should be compatible with PHP 5.4 as well.

If needed, run:
`composer update && composer install`

[2016-04-18 14:15] #45 closed

[2016-04-18 14:22] Faiyaz commented on #35
Never mind. This apparently isn't an issue anymore on my end. Probably my setup wasn't correct. Closing issue. Thanks.

[2016-04-18 14:22] #35 closed

[2016-04-18 14:59] katazina opened #49 "Cross calls in the transformer and apply files slowing down the generation"
I'm using the Instant Articles for WP plugin, which is works fine.
They are using this sdk and the problem is that the generation of the feed is very slow and it timeouts.
The problem is in the sdk, not in the plugin.

`\src\Facebook\InstantArticles\Transformer\Transformer.php`
The **transform function** calls the **$rule->apply(...)**
That's ok, but some of the apply rules call back the transfrom

[2016-04-18 15:54] simonengelhardt commented on #49
Thanks for reporting. This should be fixed by #46

[2016-04-18 15:54] #49 closed

[2016-04-18 16:25] everton-rosario commented on #35
Sorry for the late follow up on this thread.
Thank you for using the SDK and feel free to post issues you find or even Pull requests.
We are trying our best to keep everything up to date.

[2016-04-18 18:51] Faiyaz opened #52 "Need help, unable to import articles via Client"
I am getting this exception while trying to import articles -  The following code is copied straight from the quickstart.md
[code]

[code]

[2016-04-18 20:25] Faiyaz commented on #52
@simonengelhardt - Can you please look into this.

[2016-04-19 19:08] m4olivei commented on #31
OK, so I think I've worked out a nice custom Rule class that I'm happy with that works for this purpose:

[code]
Then assuming you've got a `\Facebook\InstantArticles\Transformer\Transformer` instance called `$transfomer` kicking around, add a config rule like so:
[code]
The method `EmptyRule::matchesNode` is the key.  It'll match any element node, matched by the selector given, that either has no

[2016-04-19 22:14] #40 closed

[2016-04-20 00:03] CalvinWong opened #62 "CDATA tag being added after <script> tags"
We have custom embed code for some of our content that uses javascript.  When outputing the article, the code within the `<script>` tags is wrapped with a CDATA tag.

This is the outcome:
`<figure class="op-social"><iframe><script><![CDATA[ // javascript content here ]]></script></iframe></figure>
`
What we need:
`<figure class="op-social"><iframe><script>// javascript content here</script></ifram

[2016-04-20 14:05] everton-rosario commented on #31
Hey @m4olivei , thanks for digging into this!

This is cool that this solved your cases. I just want to warn you to be aware of this usage.
The Transformer Rules were not designed to have a double pass on same node. So if one specific node is selected by context and the selector, it wont leave this node for another rule.

This way, the empty rule will need a selector that selects only empty #text

[2016-04-20 14:19] m4olivei commented on #31
@everton-rosario yeah your right.  It's only working for me b/c I have it as the last rule added to the Transformer, which means its the first rule that gets checked against all nodes.

Sounds like a neat solution, look forward to testing it.  Thanks for looking into this as well!

[2016-04-20 18:37] codeman2872 opened #69 "Submit from a string"
I would like to use a string variable that contains pre-validated IA markup to post a new article. Something like:

[code]

where $article is a string.

[2016-04-21 01:28] simonengelhardt commented on #52
@Faiyaz Sorry to hear that. I just looked into our logs and it seems you have since been able to import articles. Did you manage to resolve the issue?

If not, could you show a little more of the code where you are calling this, so I can look into what may be causing this? Also, if you could please double check the app id and app secret you are passing in? If those look good, please check that the

[2016-04-21 02:25] eustasskid opened #72 "Problem with Custom Shortcodes Video Embed"
Hello, I'm using custom shortcodes to embed youtube and facebook videos using their respective Javascript APIs. Example: [customyoutube id="XXXXX"] where XXXXX is the youtube video ID. The reason for this is that I added callback functions when the video finished playing. Now my problem is, Instant Articles displays the javascript part of the shortcode as paragraph block in the Instant Articles. P

[2016-04-21 03:14] codeman2872 commented on #69
I solved the issue, and everything is working now.

[2016-04-21 03:14] #69 closed

[2016-04-21 15:12] simonengelhardt commented on #62
@CalvinWong I am trying to reproduce this and looking into whether we can rely on `DOMDocument::saveHTML` for the output. Could you share the code that you are using to construct the `Facebook\InstantArticles\Elements\SocialEmbed` instance?

[2016-04-21 17:56] CalvinWong commented on #62
To give you some insight, we are using WordPress and the plugin 'Instant Articles for WP'.  I first tracked the issue there (https://wordpress.org/support/topic/cdata-after-script-tags), before discovering it was within the Facebook Instant Articles SDK.  In our WordPress instance, we have a shortcode that generates a Facebook embed.  The generated embed is looks something like this:

[code]

When

[2016-04-22 14:34] codeman2872 opened #75 "Multiple Paragraphs in Single Text Submssion"
This may be a complete noob question, so forgive me if this is the wrong place to ask. Because our content is coming from a database, the paragraphs are in a single field. For a single paragraph this works great:

[code]

But is there an emelent that will allow multiple paragraphs? I can explode the field into an array but I have no idea how to iterate through to create a Paragraph element for eac

[2016-04-22 20:26] codeman2872 opened #76 "Preformatted HTML"
If I have HTML that already is in IA format, how do I use the API to submit it?

[2016-04-22 21:21] Faiyaz commented on #52
Thanks for getting back. So I was unable to get this working, as I kept getting that error. So i switched to using RSS for the time being. As for my code, it is exactly the same as the one setup on quickstart.md

[code]

I have gotten the page access token via the [graph api](https://developers.facebook.com/tools/explorer/) page.

[2016-04-24 16:46] JohannesBeranek opened #77 "RelatedArticles title should not render in footer"
Facebook UI is reporting title attribute as not supported when being used on an related articles element in the footer (which is in line with the FBIA specs). If possible though, RelatedArticles element shouldn't render title attribute when in footer.

[2016-04-24 18:44] codeman2872 commented on #75
I figured it out. I performed a foreach loop outside the object declaration and added each paragraph as a child to the object.

[2016-04-24 18:44] #75 closed

[2016-04-25 12:47] simonharrak opened #78 "ImageRule"
Is it possible to have the presentation property parsed in the image rule, the same way it is done in the VideoRule?

E.G.

        if ($this->getProperty(Video::ASPECT_FIT, $node)) {
            $video->withPresentation(Video::ASPECT_FIT);
        } elseif ($this->getProperty(Video::ASPECT_FIT_ONLY, $node)) {
            $video->withPresentation(Video::ASPECT_FIT_ONLY);
        } elseif ($this->g

[2016-04-25 21:09] simonengelhardt commented on #52
@Faiyaz I just sent you an email to get a little more information from you, so I can look into the cause. In the meantime, I'm glad you got up and running with RSS.

I will comment back here when we have resolved the issue.

[2016-04-25 21:21] simonengelhardt commented on #76
@codeman2872 This use case is not currently covered by the API client included in the SDK, since that is designed to work with an instance of `Facebook\InstantArticles\Elements\InstantArticle` created with the DSL (optionally using `Facebook\InstantArticles\Transformer\Transformer` for markup transformation).

You can submit HTML directly to the API by following the instructions in the [API docume

[2016-04-25 21:21] #76 closed

[2016-04-25 21:37] simonengelhardt commented on #77
@JohannesBeranek Good catch. Thanks for reporting 👍

[2016-04-26 21:17] alexdelgado opened #79 "Insufficient Transformer Documentation"
I've been working with the "Instant Articles for WP" plugin which uses this library and I can't quite figure out how the transformer rules work, or how to create a new one, and the Quick Start Guide wasn't much help. It sort've just says, here are some things, they need these parameters, have fun. The code itself also doesn't have any docblocks so I can't wrap my head around what's actually going

[2016-04-26 21:19] Faiyaz commented on #31
Any update on this @everton-rosario.

[2016-04-28 14:42] joevanni99 opened #81 "Handling images inside paragraphs in Transformer"
WYSISWYG Editors used in CMSs like drupal or WordPress often wrap `<img>` tags around a `<p>` tag. I was able to eliminate the wrap with preg_replace, but I am having issues with images inside a longer paragraph. Inserting an image inside a paragraph is valid according to html, but facebook instant articles requires any image to be wrapped inside a `<figure>` tag. I think that the ImageRule should

[2016-04-29 05:28] simonengelhardt commented on #62
@CalvinWong It does seem that `CDATA` is injected in a scenario as yours with the current behavior. Unfortunately, simply swapping with `DOMDocument::saveHTML` would lead to other issues (essentially since the HTML format support in `DOMDocument` is not really compliant with HTML5).

We will find a way to work around this.

In the meantime, if you are able to modify the output from the shortcode t

[2016-05-03 11:39] everton-rosario commented on #31
Yes @Faiyaz.
Please follow and also help review this PR: https://github.com/facebook/facebook-instant-articles-sdk-php/pull/71

[2016-05-04 14:04] katazina opened #91 "Transformer drops content in pharagraph if there is image too"
The content:
`<p><a href="http://example.com/image.jpg"><img class="alignnone size-medium wp-image-45" src="http://example.com/image.jpg" alt="imagealt" width="300" height="169" /></a>Some text comes here and some more and more ... and some.</p>`

After the closing `<a>` tag, there is some text, and the sdk drops that text.

Same happens when I reorder the inside:
`<p>Some text comes here and some

[2016-05-05 08:37] katazina opened #92 "Transformer drops images from li"
The content:

[code]
After the transformer is done, there is no image.

# Expected Result

[code]

# Actual Result

[code]
The image is missing.

[2016-05-05 18:44] demoive commented on #91
Also reported on the WordPress forums:

https://wordpress.org/support/topic/articles-that-begin-with-an-image-are-stripping-out-first-paragraph?replies=2
https://wordpress.org/support/topic/content-within-div-missing-in-instant-article-and-other-content-missing?replies=2

[2016-05-06 09:59] demoive commented on #72
I see you've opened the same issue on the WordPress plugin. That is the more appropriate place for the solution so I'm marking this as closed.

https://github.com/Automattic/facebook-instant-articles-wp/issues/171

[2016-05-06 09:59] #72 closed

[2016-05-06 10:34] demoive commented on #79
Hi @alexdelgado and we really appreciate the feedback regarding the documentation.

Understanding how Transformer Rules work and how to configure them is indeed complex, which is why I'm happy to say that in the past week we've extended our documentation with a section dedicated to giving clarity on the matter with supporting examples.

The [main description of this plugin](https://wordpress.org/p

[2016-05-06 10:34] #79 closed

[2016-05-09 10:42] samichamoun opened #95 "Trying to setup a transformer rule"
Hi there,

I am embedding my own video player which is used as an iframe. The height attribute is being stripped from the video, so I am trying to setup a transformer rule to apply it.

[code]

I'm not sure what the type/selector/attribute values should be for the properties. springboard-height is a class which is assigned to the video itself.

Any ideas?

[2016-05-11 10:03] #95 closed

[2016-05-11 14:04] alucic opened #96 "Remove InstantArticle dependency from the Client"
https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/src/Facebook/InstantArticles/Client/Client.php#L89

`Client` has hard dependency on `InstantArticle`. The only method being used is `render` which returns a markup.

Maybe we could do something like this to make `Client` usable outside of the SDK:
1. Check against `InstantArticleInterface` that will have `render` method
2. p

[2016-05-11 19:49] everton-rosario commented on #96
Hello @alucic, its a great point of view about separating Client from SDK (Transformer + Elements).

In the other hand the SDK + Client were designed and implemented together within the same package in a way we reduce the number of invalid Instant Article that are being submitted and being reproved in the review process.
We are still improving the SDK and validation rules to improve the number of

[2016-05-11 20:23] everton-rosario opened #98 "Create validator for URL's that will check if it is a valid link and also a valid Image"
# Expected Result

* URL's added for Audio, Image, Slideshow, Iframes etc should be validated
Links can:
- have the protocol notation: //domain.com/path/image.png
- Use base64
- Use relative link

All the cases should be resolved the final link and check if it is a valid content based on the context.

# Actual Result

* It is only checked if link isn't empty.

[2016-05-11 21:14] everton-rosario opened #99 "Validate GeoJSON"
# Expected Result

All elements that uses GeoJSON should be validated if it is:
- Valid JSON
- Valid GeoJSON

# Actual Result

* It validates only if not empty.

[2016-05-12 20:01] everton-rosario commented on #14
Im not sure if we want to add more dependencies to this SDK.
Do you @scottrigby wants to work on this: #21 ?

The #14 and #21 are related and we could work on this as a new feature, adding a Logger abstraction layer and updating Transformer to log events in a separated buffer.

[2016-05-12 20:02] #31 closed

[2016-05-16 18:22] simonengelhardt commented on #52
Closing due to inactivity in the email dialogue. @Faiyaz feel free to send me the requested additional info  per email and reopen if this issue still reproduces.

[2016-05-16 18:22] #52 closed

[2016-05-16 21:54] simonengelhardt opened #112 "Configure Code Climate analysis and code coverage reporting"

[2016-05-16 22:00] simonengelhardt commented on #112
Repo has been imported: https://codeclimate.com/github/facebook/facebook-instant-articles-sdk-php

I will work with our admins to set up the [update hook](https://docs.codeclimate.com/docs/github) and configure [code coverage](https://docs.travis-ci.com/user/code-climate/#PHP).

[2016-05-18 11:19] stereonom opened #114 "youtube-nocookie errors"
# Steps required to reproduce the problem

insert `<iframe src="https://www.youtube-nocookie.com/embed/F0vg4HUEIyk?rel=0&amp;showinfo=0" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>` in the content field of wordpress

# Expected Result

```<figure class="op-social"><iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/F0vg4HUEIyk?rel=0

[2016-05-18 13:58] jpayette opened #115 "Interactive element doesn't support iframe width"
The documentation for the Interactive element shows many examples of specifying a width for the iframe, and recommends that you do so: https://developers.facebook.com/docs/instant-articles/reference/interactive

When you save an Instant Article that contains an interactive element with no width, you receive the following warning: "HTML Embeds Require Valid Width: HTML Embeds require a valid intege

[2016-05-18 16:09] simonengelhardt commented on #114
@stereonom Thanks for flagging this. Silently rewriting the embed URL doesn't seem like the right thing to do. If someone explicitly embedded a YouTube video in the "privacy-enhanced mode", we probably shouldn't just change that to a regular embed.

Since `youtube-nocookie.com` is an officially supported form of embed, it seems it should be supported on the Facebook server side for Instant Article

[2016-05-18 16:09] #114 closed

[2016-05-18 18:25] dodozhang21 opened #116 "Vertical alignment on cite and caption"
I do not see support for classes for vertical alignments `op-vertical-bottom` `op-vertical-center` `op-vertical-top` such as per https://developers.facebook.com/docs/instant-articles/reference/caption

Am I missing something?

[2016-05-18 18:56] dodozhang21 commented on #116
I created a pr for this https://github.com/facebook/facebook-instant-articles-sdk-php/pull/117

[2016-05-19 14:46] everton-rosario commented on #116
This was awesome @dodozhang21
Just double check the PHPCBF warnings.

You can have it fixed automatically on your PR #117

[2016-05-19 21:51] marianop commented on #78
Hi! I'm going to expand on this.

In the Image Element this properties are set:

[code]

The same way they are on the Video Element.
Even there is the withPresentation function, that has been duplicated from the Video Elemento because the comment has the Video on it:
[code]

But in the ImageRule Transformer, the rules for the properties are missing, specifically this:

[code]

I added them and wor

[2016-05-19 22:51] dodozhang21 commented on #116
@everton-rosario How do I make it automatically fix it? I fixed them manually.

[2016-06-02 15:19] simonengelhardt commented on #114
The issue is tracked here: https://developers.facebook.com/bugs/237836149926788/ (requires Facebook login)

[2016-06-07 16:50] anbarasan1985 commented on #62
@simonengelhardt Did you get a chance to check this issue?
CC @scottrigby

[2016-06-07 18:11] anbarasan1985 commented on #62
We are using embed script for all the social media embed like Instagram, Twitter and facebook as we seen issues with Iframe to make it responsive on our site. So we are waiting to get this issue solved.

[2016-06-08 11:04] everton-rosario commented on #96
@alucic, thanks for this.
Unfortunately we are not intended to make this a broader and common solution to be in this SDK.
So if you need this to be unplugged, we recommend you to use the main PHP SDK of Facebook, so you can submit your content without any strict validation.

Why?
This SDK was built and designed to suit a need to create a less error prone condition for publishers so they can produc

[2016-06-08 11:04] #96 closed

[2016-06-08 13:19] everton-rosario commented on #115
Fixed on master.

[2016-06-08 13:19] #115 closed

[2016-06-09 07:59] memarv opened #123 "Elements\Interactive withWidth - incorrect param types?"
Method `withWidth` has enforceWithin [Interactive::NO_MARGIN,  Interactive::COLUMN_WIDTH]
whether it should be Type::enforce($width, Type::INTEGER);
?

[2016-06-10 18:26] everton-rosario commented on #92
@katazina Can you help us validating this PR that fixes your issue?

[2016-06-10 18:27] everton-rosario commented on #91
@katazina Can you help us validating this PR that fixes your issue?

[2016-06-10 20:04] katazina commented on #91
unfortunately it's not working for me.
I downloaded a patch file, after that I downloaded the whole paragraph-with-image branch, but no success.

Try with the attached post content.
[paragraph-image.txt](https://github.com/facebook/facebook-instant-articles-sdk-php/files/309676/paragraph-image.txt)

[2016-06-10 20:06] katazina commented on #92
no luck with that either, like in [https://github.com/facebook/facebook-instant-articles-sdk-php/issues/91](url)

[2016-06-10 20:17] diegoquinteiro commented on #91
@katazina did you configure the new rule on your ruleset JSON? If so, can you share how your JSON looks like?

[2016-06-10 21:15] dodozhang21 opened #125 "How do you transform video title?"
I don't understand how I can produce the following with video transform rule. How come there is no documentation on how to use the video rule? I didn't find any tests for it either.

[code]

[2016-06-10 21:47] #116 closed

[2016-06-10 21:51] katazina commented on #91
Sorry, it's night here. I refreshed the json file, but now I got an error when the feed is generated:

`PHP Fatal error:  Call to undefined method Facebook\InstantArticles\Elements\InstantArticle::appendText() in facebook-instant-articles-sdk-php/src/Facebook/InstantArticles/Transformer/Rules/TextNodeRule.php on line 48`

I'm trying to figure it out what happened.

[2016-06-10 22:59] simonengelhardt commented on #62
@CalvinWong @anbarasan1985 @scottrigby Sorry about the long wait on this, but a fix is now implemented in #126. We expect to merge this in and release a new version of the SDK early next week. Feel free to test the PR in the meantime.

[2016-06-11 00:12] anbarasan1985 commented on #62
Thanks @simonengelhardt

[2016-06-13 22:45] dodozhang21 commented on #125
I figured this out. Adding the caption rule before the video rule worked for me.

[code]

[2016-06-13 22:45] #125 closed

[2016-06-14 14:38] anbarasan1985 commented on #62
I left a comment on the PR after my testing.

[2016-06-15 06:55] dragu opened #129 "Google Analytics: Specification mandate value for attribute async"
Hi,

How do I use Google Analytics with your SDK?

Example from [here](https://developers.facebook.com/docs/instant-articles/sdk/elements) is not working.

My code is

[code]

`$this->analyticsHtmlCode` =

[code]

and the error is

`DOMDocumentFragment::appendXML(): Entity: line 6: parser error : Specification mandate value for attribute async`

[2016-06-15 08:51] memarv commented on #129
Try async="async"

[2016-06-15 09:33] #129 closed

[2016-06-15 09:38] dragu commented on #129
thanks!

[2016-06-15 16:43] #91 closed

[2016-06-15 16:43] #92 closed

[2016-06-15 19:49] #62 closed

[2016-06-15 19:52] everton-rosario commented on #81
This was fixed on the PR #124
Can you double check it @joevanni99

Check if you'd like to join us on this event meeting we will do about IA:
http://goo.gl/forms/rZc8LKltI04bsUoF2

[2016-06-15 19:52] #81 closed

[2016-06-17 17:00] everton-rosario commented on #27
Fixed on #124

[2016-06-17 17:00] #27 closed

[2016-06-23 18:33] sadiefp opened #130 "Add Slideshow to Cover"
I told my boss that we cannot add a slideshow to the cover of an Instant Article, based on the documentation I found online & the cover type enforcement in the SDK. Based on these sources, images & video are the only allowable covers.

https://developers.facebook.com/docs/instant-articles/guides/articlecreate#specify-cover
https://developers.facebook.com/docs/instant-articles/reference/cover#optio

[2016-06-24 09:10] esolitos opened #131 "Nested div is discarded from transformer."
# Steps required to reproduce the problem

1. Simply use this html snippet with the transformer
[code]

# Expected Result

* Same html as input

# Actual Result

* ```<p>First div text</p><p>First paragraph text</p>```

# Notes

I am using facebook-instant-articles-sdk-php within a Drupal 7 website via the [fb_instant_articles module](https://www.drupal.org/project/fb_instant_articles), however fr

[2016-06-24 12:31] everton-rosario commented on #131
Instant Article markup doesn't apply any rendering to <div> tags.
Any text should be within the allowed tags that can be checked here: https://developers.facebook.com/docs/instant-articles/reference

The expected result on your case would be:
<p>First div text</p>
<p>First paragraph text</p>
<p>A nested div</p>
<p>Plus a nested paragraph</p>

To transform your <div> tags into paragraph, you will n

[2016-06-24 12:31] #131 closed

[2016-06-24 13:14] esolitos commented on #131
The rule you have suggested is actually defined, however the nested content is just dropped, isn't this wrong?

At the moment the only way i was able to make it work is to add a passthrough rule to anything below a div, however i'm not sure it's the right approach:
[code]

[2016-06-24 14:47] everton-rosario commented on #130
@sadiefp Can you check if it fixes your issue?

[2016-06-24 15:12] sadiefp commented on #130
It worked for me.

Thanks for the quick response!

[2016-06-24 20:11] #130 closed

[2016-06-24 20:17] everton-rosario commented on #123
Hey @memarv, thanks for using Instant Articles.

Are you using the element class Interactive?

We have 2 methods:
[code]

and

[code]

The withMargin method, must be compliant with the NO_MARGIN and COLUMN_WIDTH.

[2016-06-24 20:17] #123 closed

[2016-06-24 20:19] everton-rosario commented on #78
@marianop Can you send a PR with that fix?

[2016-06-24 20:34] marianop commented on #78
I tried, but I'm not an approved contributor so I can't make PRs :(

[2016-07-01 17:22] everton-rosario commented on #78
@marianop What do you mean?
If you follow the steps here, you will be promoted as a contributor:
https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/CONTRIBUTING.md

Let me know if you have any problem on these steps.

[2016-07-01 21:43] fatonsopa opened #135 "Getting "DEBUG =======." when using Transform"
I have implemented Instant Article's API and I'm getting a DEBUG text when transforming the article.

# Steps required to reproduce the problem

1. Create a Instant Article Instance
2. Append Header Data
3. Transform a normal html (article content) via Transformer object
4. Connect to Client
5. Render Instant Article
6. Import Article

You can find the code here:
http://paste.ofcode.org/36RBimG7nm

[2016-07-04 11:52] everton-rosario commented on #135
@fatonsopa Have you turned off the debugger?

There is the log4php that outputs few instruction lines on the standard output if no logger appender is defined.

Try to set this on your project:

`
     \Logger::configure(
            [
                'rootLogger' => [
                    'appenders' => ['facebook-instantarticles-transformer']
                ],
                'appenders' => [

[2016-07-04 11:52] #135 closed

[2016-07-04 12:28] katazina commented on #91
I'm sorry, I had no time to check it.
Now I did.
It's half good, but still not perfect.

Here is a code which on the transformer fails:
[code]

And here is the current result:
[code]

You can see, beside the **some text** the image is not processed, but an empty **a** tag was kept.

With the p tag in the first line, it worked perfectly.

[2016-07-06 08:29] fatonsopa commented on #135
Hey @everton-rosario,

Thanks, that's solved the issue :)

Regards,

[2016-07-08 20:16] basarkar opened #139 "Interactive inside paragraph"
This is not an issue rather a feature request.

[2016-07-08 20:21] everton-rosario commented on #139
@basarkar Thanks for contributing.

Can you provide more details about this?
Try to provide who your html markup is, and then we can check how we can implement this.
Please reopen when getting it more detailed, please.

[2016-07-08 20:29] basarkar commented on #139
From:
<p>lorem ipsum<iframe src="http://www.google.com"></frame>Hello world</p>
To:
<p>lorem ipsum</p>
<figure class="op-interactive">
        <iframe src="http://www.google.com" class="no-margin"></iframe>
 </figure>
<p>Hello world</p>

[2016-07-08 20:32] everton-rosario commented on #139
@basarkar Is it possible for you to have it in separated paragraphs before sending to Transformer?

something like:
[code]

[2016-07-09 03:41] basarkar commented on #139
I guess I have to do dom manipulation before sending it to the transformer. If you want then I can try to create a rule class like InteractiveInsideParagraphRule.php same as like ImageInsideParagraphRule.php

[2016-07-13 16:50] codeman2872 opened #142 "Transformer Error"
I just updated my SDK and my transformer-rules.json file is apparently gone. Is there an updated version?

[2016-07-13 17:20] everton-rosario commented on #142
@codeman2872 Your transformer-rules.json should be like this one:
https://raw.githubusercontent.com/facebook/facebook-instant-articles-sdk-php/master/tests/Facebook/InstantArticles/Transformer/CMS/wp-rules.json

You can copy/paste over your transformation-rules.json file.

Feel free to reopen if the issue still happens to you.

[2016-07-13 17:20] #142 closed

[2016-07-14 13:55] codeman2872 opened #144 "Submission Issue"
I am having a recurring issue where an attempt to submit a new article results in the following error:

# Steps required to reproduce the problem

1. Create formatted HTML
2. Run through transformer
3. Submit to API

# Expected Result

* Accepted new article

# Actual Result

* Error code as show below

[code]

[2016-07-14 16:12] everton-rosario commented on #144
@codeman2872
Please, can you share here more info about your transformation problem?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

Also, if you can, provide the custom rules you've configured for your makrup.

I'll reopen this issue, with more inf

[2016-07-14 16:12] #144 closed

[2016-07-15 19:38] everton-rosario commented on #78
Fixed in PR #147

[2016-07-15 19:38] #78 closed

[2016-07-15 22:20] #139 closed

[2016-07-16 02:20] basarkar commented on #139
Thanks @everton-rosario

[2016-07-22 14:09] everton-rosario opened #152 "Create context aware validation messages"
This is an enhancement.

Right now we have messages all centered into [validator_warning_messages.ini](https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/src/Facebook/InstantArticles/Transformer/Warnings/validator_warning_messages.ini)
This should be separated and every single validation should do its messaging.

[2016-07-22 14:14] everton-rosario opened #153 "Move /Compat rules to WordPress plugin"
Move all rules under /Compat to the correct plugin.

[2016-08-17 13:15] truetesterphp opened #159 "no any Class for div tag ??"
# Steps required to reproduce the problem
I have one recipe site and my recipe content not showing in facebook instant article post .
Showing this error : **No rules defined for `<div class="zlrecipe-container-border">` in the context of InstantArticle**

"`<div class="zlrecipe-container-border">`" this div has all tags like heading h1, p, ul, li, dropdown etc...

I have checked all classes here:

[2016-08-17 14:08] everton-rosario commented on #159
Please, can you share here more info about your transformation problem?

I need you to share your html markup, this way I can help you to create this transformation rule correctly.

Most of the cases that has contents not important we just add an IgnoreRule or a PassThroughRule.

Share here your html markup and the rules you have defined in rules.json.

Will reopen when the needed info provided.

[2016-08-19 05:16] truetesterphp commented on #159
http://laylita.com/recettes/2586/glace-noix-coco/
Please check above link , there recipe section showing in middle of the article , check screenshot
https://drive.google.com/file/d/0B5hQbOsvbp0oOVJudVJwbk50djQ/view?usp=drivesdk

**And here the HTML Markup For Recipe :**

`<div id="zlrecipe-container-178" class="zlrecipe-container-border">
    <div itemscope="" itemtype="http://schema.org/Recipe" i

[2016-08-19 20:09] everton-rosario commented on #159
Add these rules by the end of your rules.json file.

[code]

This should be enough.

To check if your transformer is 100% good, check if you have any warnings after transformation:
[code]

[2016-08-19 20:09] #159 closed

[2016-08-23 11:05] everton-rosario opened #163 "CDATA XHTML handling"
Currently, loadHTML (DOMDocument) does not do anything on parsing cdata and the script content can include CDATA tags. This causes an issue on Elements\GeoTag->isValid() and the code omit script in CDATA even we use the original transform function.

One of the workaround for developers is to write

[code]
And this is a typical solution for browsers who cannot understand XHTML.

On the other hand,

[2016-08-23 15:53] boredom2 opened #164 "composer.json needs update"
The composer.json still links to facebook-php-sdk, which has been renamed/moved to facebook/graph-sdk. Please change the Requirement, so that only facebook/graph-sdk is included in external projects (otherwise, there are two Facebook SDKs installed).

[2016-08-31 02:42] yssk22 opened #167 "'v.1.5.0' is not found in composer while the tag `v.1.5.0' is invalid."
Could you update the tag `v1.5.0` (now tagged as `v.1.5.0`)?

# Steps required to reproduce the problem

If a composer package that dpends on SDK, it will define `composer.json` as:

[code]

And the developer hits `composer install` or `composer update` to install the latest version of SDK.

# Expected Result

The dependency should be resolved and v1.5.0 should be installed. If developers use `com

[2016-08-31 13:50] everton-rosario commented on #167
Fixed.
Thanks for flagging @yssk22

[2016-08-31 13:50] #167 closed

[2016-09-02 12:05] anibalsanchez commented on #164
I agree. This repo must be updated to have a consistent configuration.

[2016-09-02 17:44] everton-rosario commented on #164
@boredom2 @anibalsanchez Thanks for bringing that up.
We have this addressed and will be included on the next release.

I'll close, since this is covered in another (internal - sorry but can't link it here) task.

[2016-09-02 17:44] #164 closed

[2016-09-02 17:49] anibalsanchez commented on #164
Great!

[2016-09-02 17:54] dragu commented on #164
Thanks

[2016-10-10 09:40] ronaldgj opened #171 "Latest Laravel requires other version of Symfony's css-selector"
# Steps required to reproduce the problem

1. Require version 3.* of symfony's css-selector

# Expected Result

* No errors when installing this SDK with composer in Laravel

# Actual Result

* Errors, because Laravel needs version 3.* and Facebook 2.8.

[2016-10-10 11:21] everton-rosario commented on #171
@ronaldgj Thanks for flagging this.
So far we are not aiming to move to the newest version of CSS selector because it requires PHP > 5.5.+ and we still need to have it compatible to PHP >= 5.4.

What I recommend you to do is:
* Checkout the master version of this component
* Change composer.json to set required version of the CSS Selector:
[code]
* Run `composer update` then `composer install`

It

[2016-10-10 11:21] #171 closed

[2016-10-10 18:26] ronaldgj commented on #171
For now I changed the composer.json of Laravel back to 2.8. I saw Laravel only uses it for 'tests'. For now I'm not using that so this is a temporary solution for me. I'll will try this soon and let you know if it worked!

Thank you for your respons!

[2016-10-10 21:16] ronaldgj opened #172 "Property 'article.time_type' of 'TimeRule' is invalid!"
Hi,

I think I found a bug within the **TimeRule**. In the Docs it says the **'article.time_type'** is a property of the TimeRule. But when I look in the source code I found this:

[code]

It will look after
`$configuration[self::PROPERTY_TIME_TYPE]`
instead of
`$configuration['properties'][self::PROPERTY_TIME_TYPE]`

So to set the 'article.time_type' (op-published or op-modified) I have to set it

[2016-10-11 12:49] everton-rosario commented on #172
@ronaldgj Do you have your original HTML markup being converted and the rules so I can double check it?

We need you to click in the link "**[Toggle debug information]**" in the "Instant Articles" meta-box and then copy and past the both editor's text: "**Source Markup**" and "**Transformed Markup**"

[2016-10-12 08:50] marciatack opened #173 "No any div class for "recipe plugin""
# Steps required to reproduce the problem

I have one recipe site and my recipe content not showing in facebook instant article post .
Showing this error :
No rules defined for div class="mpprecipe-container-border" in the context of InstantArticle

Please let me know how to create rule for this ?

[2016-10-13 09:22] ettoregabrielli opened #174 "Error in Login with FAcebook"
When connecting to Facebook, after set ID and Code of the APP

Cannot load URL: domain of this url is not incluent in app domains.

(this is my translation of italian:
"Impossibile caricare l'URL: Il dominio di questo URL non è incluso nei domini dell'applicazione. Per essere in grado di caricare questo indirizzo, aggiungi tutti i domini e sottodomini della tua applicazione nel campo "Domini appli

[2016-10-14 10:49] ronaldgj commented on #172
I'm sorry, but I don't know exactly where I can find the 'Toggle debug information' button.

[2016-10-16 21:10] Vinlock opened #175 "Support for RTL"
# Steps required to reproduce the problem

There does not seem to be a way to activate RTL in the HTML tag.

# Expected Result

* `<html dir="rtl">`

# Actual Result

* `<html>`

[2016-10-17 18:30] everton-rosario commented on #172
@ronaldgj On the same screen where you edit your post, you will hit the button "Update" that will publish the latest changes on your post. This will trigger the process of transformation to an Instant Article.
After transforming, it will update a small box under the post content (in the same editor page). There you will see something like this [example image](https://www.dropbox.com/s/0fux7lr0oec6

[2016-10-18 15:47] #175 closed

[2016-10-18 15:52] everton-rosario commented on #175
@Vinlock thanks for flagging this.

We prioritized this and now have it ready on master. This will be released on the next version of the plugin, but hopefully you can upgrade your version with the master version.

[2016-10-18 16:33] Vinlock commented on #175
@everton-rosario No problem. Thank you! I will upgrade to master.

[2016-10-20 09:33] ronaldgj commented on #172
Hi @everton-rosario,

Yes I'm building my own code ;). I'll post it beneath here.

Code to send to the transformer:
[code]

Here are my rules:
[code]

And this is what I get out without errors:
[code]

So the TimeRule does his job, but it is outside the properties! And is it also the right value to put in the key 'article.time_type'?

Thank you for support!

[2016-10-22 17:59] tristangemus opened #177 "Add offset parameter to getPagesAndTokens helper function"
# Steps required to reproduce the problem
1. Use the getPagesAndTokens method
# Expected Result
- Parameter to allow offset or pagination for users who have more than 25 pages
# Actual Result
- Only 25 pages returned.
# Notes
- I am aware of the next and previous methods that are available and they work great, however, for applications that utilize ajax functionality, it is messy to store the obje

[2016-10-25 20:09] everton-rosario commented on #172
Hey @ronaldgj great case and example.
Yes, you got it right. The property `article.time_type` indeed sits outside the properties. This looks like a bad design issue, unfortunately.

It was born as a kind of "constant" setter in a way the configuration tells whether it is a UPDATE or PUBLISH date. This was before we come across the `MultipleElementsGetter` and the `FragmentGetter`.
Your questioning

[2016-10-25 20:27] everton-rosario commented on #174
@ettoregabrielli Sorry for the late response.

Your case, actually doesn't seem to be related to an issue on the SDK, but to the configurations between your page and your APP setup, as I've already noticed on a few partners configuring the login flow.

If you feel it is harder to do all the flow, you can:
Do it manually on your Facebook:
1. Select your page on top right arrow down
2. Go to publish

[2016-10-25 20:27] #174 closed

[2016-10-28 18:20] phelipealves opened #180 "Parameter missing in the methods"
# Steps required to reproduce the problem
1. Add the parameter `$document` in the method `toDOMElement`() in class `Element`
2. Add the parameter `$selector` in method `findAll` in class `ElementGetter`

[2016-10-30 21:36] demoive opened #182 "Force OG Re-scrape on post update"
Follow best practice and force a re-scrape of the OG tags whenever a post is updated.

https://developers.facebook.com/docs/sharing/opengraph/using-objects#update

[2016-10-31 09:48] ronaldgj commented on #172
Hi @everton-rosario,

Thank you very much. This one make sense :)
I joined the Facebook group, so I'll be up-to-date.

[2016-10-31 13:28] everton-rosario commented on #180
Thanks for filing this issue and also sending over the PR.
That was a great find, @phelipealves

[2016-11-02 10:57] thomaswn commented on #173
This should generally do it
{
    "rules":
    [{
        "class": "PassThroughRule",
        "selector": "div.mpprecipe-container-border"
    }
}
However I've noticed that some elements that are not contained within a paragraph element can fail, so wrapping it within a <p> tag could solve the issue as well.

[2016-11-04 13:40] ronaldgj opened #183 "Documentation Issue"
Hi Guys!

I found an issue in the Documentation of the Transformer Rules. For the 'Caption' you can give a property of the 'size'. The documentation shows me:

[code]

But when I look in the source code of the 'Caption Element' the word 'size' is missing, so it won't work!

[code]

Hope it will help you all.

[2016-11-24 11:10] #177 closed

[2016-11-24 11:11] #180 closed

[2016-11-24 11:12] #172 closed

[2016-12-01 13:36] #77 closed

[2016-12-09 08:53] Vinlock opened #188 "Facebook\Exceptions\FacebookServerException - POST - An unknown error has occurred."
This error is very vague and I cannot find any docs on what this could me for me to investigate it properly. Can anyone give me an idea?

Thanks!

[2016-12-09 17:33] simonengelhardt commented on #188
Hi @Vinlock,

Could you provide a little more context on when you are getting this error? If you could fill out the issue template, that would be great. Thanks.

[code]

[2016-12-09 22:51] Vinlock commented on #188
# Steps required to reproduce the problem

1. Install Facebook Instant Articles via composer
2. Apply the APP ID, APP SECRET, and Never expiring ACCESS TOKEN
3. Attempt to post an instant article

# Expected Result

* Instant article is posted.

# Actual Result

* Facebook\Exceptions\FacebookServerException - POST - An unknown error has occurred.

[2016-12-18 05:25] Vinlock commented on #188
`object(Requests_Response)[68]
  public 'body' => string '{"error":{"message":"An unknown error has occurred.","type":"OAuthException","code":1,"fbtrace_id":"AMQDUrqJY8C"}}' (length=114)
  public 'raw' => string 'HTTP/1.1 500 Internal Server Error
WWW-Authenticate: OAuth "Facebook Platform" "unknown_error" "An unknown error has occurred."
Access-Control-Allow-Origin: *
Pragma: no-cache
Cache-Contr

[2016-12-18 20:38] chekalskiy opened #189 "Is there a way to create Paragraph from HTML with links, bold and italic?"
Is there a way to convert this:

[code]

into Paragraph with such `render()` result:

[code]

[2016-12-19 09:51] simonengelhardt commented on #188
Thanks for the info @Vinlock. That output from the POST is especially useful. We'll take a look.

[2016-12-20 10:23] chekalskiy commented on #14
There are several issues with \Logger:
- sometimes our deploy fails because of inavailability of `https://packagist.org/packages/apache/log4php`
- \Logger echoes Debug info by default

Could you please replace it with Psr\Log?

[2016-12-21 20:04] everton-rosario commented on #189
Hey @chekalskiy using our default rules should be enough if you don't have any "free" text. By free, I mean text outside paragraph tags `<p></p>`.

Can you do it? (even if manually concatenating the <p> tag?)

Then, to have it running, use these rules:
[code]

This code snippet should help a bit.

Let me know if it works for you.

[2016-12-21 20:04] #189 closed

[2016-12-22 12:03] everton-rosario commented on #183
@ronaldgj Thanks for flagging.

The size you are looking for is the $font_size.
So you can use the Caption::withFontsize() method to set your caption size.
This is also covered on CaptionRule class, which transforms Caption based on the configuration Rules.

Is this the thing you were looking for?

Sorry for the long wait on this.

Let me know if you have any more issues on this.

[2016-12-22 12:03] #183 closed

[2016-12-22 12:18] everton-rosario commented on #153
Its fixed already.

[2016-12-22 12:18] #153 closed

[2017-01-02 16:19] jppgks commented on #182
@demoive Looking into this issue, I tried calling the API endpoint you mentioned for updating an object and re-scraping it. However, I got the following error. Did I use the wrong access token?

[code]

[2017-01-02 20:28] jppgks commented on #182
@demoive Is the documentation for that API endpoint still correct? When calling the endpoint using the [Graph API Explorer](https://developers.facebook.com/tools/explorer/), the data isn't updated.

[2017-01-06 20:11] despinoUY opened #191 "Can we have the ability to remove a child from an InstantArticle class object?"
As @dashaluna asked in other Facebook project (https://github.com/Automattic/facebook-instant-articles-wp/issues/529), is there any chance to have a function to remove a child from an InstantArticle object? If it's not, a function to load a completely different array of Element objects as Children would be great!

Greets!

[2017-01-09 22:33] #182 closed

[2017-01-09 22:49] everton-rosario commented on #173
@marciatack
Please, can you share here more info about your transformation problem?

I need the source markup example (regular HTML file you are trying to transform).

Im closing this for now, until you provide more info.

[2017-01-09 22:49] #173 closed

[2017-01-20 08:43] acampitos opened #194 "HTML tags as &lt;tag&gt; when importArticle()"
# Steps required to reproduce the problem

1. Create an instant article with PHP
[code]
Create all necesary fields for the instant article
2. When creating paragraphs, hardcode a text with html tags inside: for example:
[code]
3. call `$client->importArticle($article);` to import the article to Facebook page

# Expected Result

* The expected result is an instant article in Facebook page with `<st

[2017-02-06 15:46] everton-rosario commented on #191
This is fixed and will be on release v1.5.5

[2017-02-06 15:46] #191 closed

[2017-02-06 15:49] everton-rosario commented on #188
Error was released and solved by reactivating the internal publishing account.
It was disabled because of a policy infringement that was resolved and now the account is able to publish again.

[2017-02-06 15:49] #188 closed

[2017-02-20 08:19] sakatam opened #196 "Allow formatted text in footer/copyright"
Currently, the Footer/copyright only takes plain text as its value. However, since the IA platform allows formatted text (italic, bold and hyperlink) in copyright section, our SDK should accept it as well.

[2017-02-24 15:35] mrgray opened #197 ""op-ad-default" is stripped by the Transformer?"
# Steps required to reproduce the problem

This is the input,
[code]

# Expected Result
[code]

# Actual Result
[code]

This leads to "_General Warnings: Ad default template is not specified: Ad default template is not specified, use the last last one in ad section block instead_".

Am I missing something?

[2017-03-04 14:41] #196 closed

[2017-03-06 16:54] everton-rosario commented on #197
Hello @mrgray! I guess you missed a few things about the ad placement.

You gotta check this documentation about [ad placement](https://developers.facebook.com/docs/instant-articles/monetization/ad-placement)

As you can see, you gotta set if you will have the auto placement (as I see you are looking for it).
[code]

Also, the warning message you are receiving is about the missing property flaggin

[2017-03-06 16:54] #197 closed

[2017-03-06 17:35] mrgray commented on #197
Hey @everton-rosario!

I actually do have **fb:use_automatic_ad_placement** defined with **op-ad-default**. The **op-ad-default** is stripped when it goes through the Transformer.

[2017-03-06 18:23] everton-rosario commented on #197
Can't you add the ADs after the transformation?
Are you using this in any CMS (like Wordpress? Drupal?)
Can you give little more details on the environment you have set?

[2017-03-06 18:41] mrgray commented on #197
- When you say add the ads later, do you mean modify the InstantArticle returned by Transformer's transform method? Me likey - I'll give this a shot. Still odd that the Transformer drops that default ad tag.

- We're using a highly modified version of the http://silverstripe.org/ CMS.

- I'll be happy to help. Could you tell me specifically what environment details would help? Adding the ones that

[2017-03-06 18:52] everton-rosario commented on #197
Yes, it is perfectly doable to change it later (After transformation occurs).
Now that you've mentioned how the process is happening, we didn't built the rules for interpreting the ads before transformation. On WordPress plugin for example, we add it after transformation occurs.

So I'd go with that solution. (we now have few add/remove methods to the [InstantArticle](https://github.com/facebook/f

[2017-03-24 07:23] Kelly27 opened #202 "How to translate Instant Article and how to enable 'Swipe for more' function?"
I need my Instant Article to multilingual so how to make Instant Article multilingual?
By the way, how to enable the 'swipe for more' function?

[2017-04-01 02:04] #202 closed

[2017-04-01 08:05] everton-rosario commented on #202
@Kelly27 Sorry, but still we don't support multi lingual posts nor Instant Articles.
The best way to support this is to have different pages for different crowds. This way you can keep the Language A speakers into page A and Language B speakers into page B. Then it will be just a matter of posting to those people separately.

[2017-04-20 14:05] kolibrid opened #206 "Support: Transformer rules definition for PullquoteRule (w/ Cite)"
Hello, we have been trying to transform the following code to a PullQuote using the transformer, however it seems to be a but unintuitive how the rules are working.
As soon as the html structure is not simple it seems there are may and many rules to be added to get the content into the FB Instant Article.

This is our initial html structure:

[code]

# Expected Result
[code]

# Actual Result
* Not

[2017-04-26 10:42] martwana opened #211 "Authentication Required during composer install"
# Steps required to reproduce the problem

1. Add facebook/facebook-instant-articles-sdk-php to composer.json
2. Run composer install

# Expected Result

* It is expected that composer will install the package.

# Actual Result

* Composer stops, and prompts for authentication for the apache/log4php dependency.

[code]

This seems to be due to https:// connections being for "Committers" only. This

[2017-04-26 16:52] everton-rosario commented on #211
Hey, thanks for reporting this.
This is an old dependency unchanged.
This is hosted in packagist: https://packagist.org/packages/apache/log4php

I couldn't reproduce this issue. Can you provide a little more info about this permission denied issue?
Looks like it is trying to clone repository then building the package. This might be something related with your environment.

Can you double check if

[2017-04-27 13:14] everton-rosario commented on #211
@martwana Check this out: https://github.com/composer/composer/issues/3908

This is not related to our repo, itself.

[2017-04-27 13:14] #211 closed

[2017-04-27 15:34] diegoquinteiro commented on #194
Hi @acampitos,

The `appendText()` method is not intended to understand tags. This is the expected behavior.

The right way would be:

[code]

If you want to convert HTML into Element objects automatically, please use the Transformer component instead.

[2017-04-27 15:34] #194 closed

[2017-05-07 19:16] webcrazy opened #214 "Instant article doesn't show in facebook page."
### Steps required to reproduce the problem

1. Published instant articles. ( with live ) not unpublished.

### Expected Result

* it should show in facebook page

### Actual Result

* it doesn't show.

[2017-05-09 15:10] everton-rosario commented on #214
Publishing to Instant Articles means that the article you've sent will be available as Instant Article for anyone who shares that link.
Lets assume this is your article URL: http://domain.com/my-article

If someones share this link into Facebook news feed or Messenger, it will render as a regular Web link, and when users click on this story, it will open on the browser.

What changes when you subm

[2017-05-09 15:10] #214 closed

[2017-05-09 16:20] webcrazy commented on #214
Hi @everton-rosario Thanks for your reply.

What I mean is I already implement to import instant articles via facebook instant articles SDK when I create a post on my website.

I already submit 5 articles for review as well and confirmed.

Here's my screenshot for approve.
![live](https://cloud.githubusercontent.com/assets/5352704/25861068/a8567082-3509-11e7-9ee2-2d58f8b6454a.png)

As you can see,

[2017-05-09 18:12] webcrazy opened #216 "How to embed custom localized font?"
I'd like to add custom embedded font to facebook-instant-articles because in order to show our language correctly, I need to embed custom font rather than default fonts.

Is that possible? Any help would be every appreciated.

[2017-05-12 22:15] agent932 commented on #81
I am having this issue with the wordpress plugin:
"Please include all of the images found in the web article. Also, please make sure that the <img> tag is not wrapped in <p> tags which will cause the image to not render correctly:"
is there a custom transformer rule to resolve this?
*sorry if this is not the correct forum for this question

[2017-05-19 08:28] KhunHtetzNaing commented on #216
me too
i want to know how to use custom font in facebook instant articles :D

[2017-05-27 03:37] webcrazy commented on #216
@KhunHtetzNaing Instant article comes with default font Georgia. It's not compatible with Zawgyi font. not sure about unicode. I haven't tested. But changing styling with
Helvetica Neue was rendered correctly with Zawgyi for me.

[2017-05-27 03:37] #216 closed

[2017-05-27 03:41] webcrazy commented on #214
Sorry I miss this description from facebook. I gotta share that article to page.

![screen shot 2017-05-27 at 9 14 47 am](https://cloud.githubusercontent.com/assets/5352704/26517711/b9c4fa50-42c4-11e7-9912-c0a339ea7501.png)

https://developers.facebook.com/docs/instant-articles/quickstart#sharing

[2017-05-27 04:01] KhunHtetzNaing commented on #216
Woow
This way work fine <3
Thank you bro

[2017-05-27 04:02] webcrazy commented on #216
You're welcome. bro 👍

[2017-06-20 15:23] alebec opened #229 "error"

[2017-06-20 15:40] #229 closed

[2017-06-22 20:19] contrerasjd opened #230 "Transformer converting styled quotes and em dashes"
# Steps required to reproduce the problem

1. Installed SDK PHP on server hosting Drupal site.
2. Installed Facebook Instant Articles module 7.x-2.0rc1
3. Enabled Facebook Instant Articles, API, and RSS
4. Navigate to site.url/fbinstant.rss

# Expected Result

* XML output similar to this:
`<body>...that a “well-thought-out budget”...</body>`

# Actual Result

* XML output similar to this:
`<body>

[2017-06-30 09:29] JuhG opened #231 "Blockquote's withText method"
The [withText](https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/src/Facebook/InstantArticles/Elements/Blockquote.php#L66) method in the Blockquote class doesn't do anything currently. The content saved to the text property is not used anywhere and the isValid method returns always false. This is because they are using the parent [TextContainer's](https://github.com/faceboo

[2017-07-02 01:36] kevinlisota opened #232 "Transformer rule help needed for tags withing Blockquote"
Our site uses both blockquotes and pull quotes. Pull quotes are always brief, either 1 or two sentences. Blockquotes often contain multiple paragraphs and sometimes contain ordered or unordered lists.

I can't figure out how to get the transformer rules to work on this. Here is the syntax coming from the WordPress editor

The following mashes into one giant paragraph blockquote.
[code]
If you add

[2017-07-03 21:26] vkama opened #233 "Transformer does not give a warning for bad JSON"
the Transformer->loadRules() adds no warning if the JSON is invalid.

https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/src/Facebook/InstantArticles/Transformer/Transformer.php#L384

[2017-07-04 17:22] everton-rosario commented on #232
@kevinlisota we don't support lists inside `<blockquote>`
Can you perform some changes into this structure?

I also guess that these rules should do the trick for you, but be sure it doesn't conflicts with regular lists.

[code]

Let me know if this works for you.
Im closing, for now, but you can reopen if it doesn't work for you.

[2017-07-04 17:22] #232 closed

[2017-07-06 17:29] pestevez commented on #206
You could try with something like:

[code]

I kept the selectors simple, but you can also use stricter selectors like `div.ckeditor-widgets-quotebox > div.quotebox-inner` for the PullquoteRule.

[2017-07-06 17:50] pestevez commented on #206
@kolibrid - I am closing this issue now, but feel free to reopen if you need more information. Thanks

[2017-07-06 17:50] #206 closed

[2017-07-07 16:31] m4olivei opened #234 "Markup with h3-h6 elements looses all h3-h6 elements when run through the transformer"
# Steps required to reproduce the problem

1. Pass markup with h3-h6 elements through the Transformer.

# Expected Result

* h3-h6 elements should be retained in the output, if indeed the Facebook Instant Articles format allows for h3-h6 in the body. I coudln't find anything definitive one way or the other in the documentation. Please clarify.

# Actual Result

* All h3-h6 elements are lost in the

[2017-07-07 16:41] m4olivei commented on #234
Even using a custom rule, the `InstantArticle` class doesn't allow an `H3` element: https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/src/Facebook/InstantArticles/Elements/InstantArticle.php#L307-L328

[2017-07-07 17:29] m4olivei commented on #234
Humm now I'm confused. According to the Instant Article editor, h3-h6 are not allowed:

![drupal instant articles development 2017-07-07 13-28-15](https://user-images.githubusercontent.com/191049/27969278-3fde1f68-6318-11e7-9d9c-55fe81263a16.png)

So perhaps this is a non-issue, other that the [H3 element](https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/src/Facebook/Insta

[2017-07-07 20:06] pestevez commented on #234
I believe only h1 and h2 are supported as headings in the article body. In addition to the warnings you show in the markup, the Instant Articles Style Editor only shows the Primary Heading (h1) and the Secondary Heading (h2):

![image](https://user-images.githubusercontent.com/18663703/27974933-28339bac-632e-11e7-8595-bd17809a7a11.png)

[2017-07-07 20:11] pestevez commented on #234
The [H3 Element](https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/src/Facebook/InstantArticles/Elements/H3.php) is still needed because it is used to generate the Header's [Kicker](https://developers.facebook.com/docs/instant-articles/reference/cover).

I am closing this issue now, but please feel free to reopen if you need additional information.

[2017-07-07 20:11] #234 closed

[2017-07-07 20:16] m4olivei commented on #234
Ah, that all makes sense. Thanks for the explanation @pestevez.

[2017-07-21 13:20] kolibrid commented on #206
Thanks @pestevez !

Your code helped me understand how to use the transformer rules. The solution for my problem is actually the following (almost what you suggested):

[code]

[2017-07-24 08:43] kolunar commented on #216
@webcrazy @KhunHtetzNaing FYI
![instant-article-configuration-custom-typeface-missing](https://user-images.githubusercontent.com/7478925/28515142-10d5b8de-704c-11e7-8f85-4efcc6aea036.png)

[2017-08-05 17:00] kevinlisota opened #236 "Transformer rule : img in the context of bold/h2/etc"
We have many articles on our site where the process of inserting a left or right-aligned image results in markup like this:

[code]
While a little awkward in terms of placement of the image HTML, it is valid and easy to create with the WordPress editor, but it throws a transformer error for "img in the context of Bold"

The issue is that you can't create a transformer rule without losing data.

[c

[2017-08-09 17:20] pribeh opened #237 "How to convert oembed div wrapped media to interactive format"
Hi,

I'm trying to figure out how to write a rule for converting embedded media in the non-iframe oembed format. This is dissimilar to iframes and I'm not sure it's even supported. Any ideas? Should it be converted to an iframe and then inserted into the figure class.op-interactive?

Here's what the output looks like in the body of content for a Twitter embed.

[code]

[2017-08-10 10:40] kapilkarda opened #238 "Example with Core PHP"
Hello,

I am trying to implement instant article for my website, website is build in CodeIgniter, I get the sdk and manage to run with composer, but i am unable to create exact output to submit, I have tried with RSS Feed but it won't help me.

Any Help or code example will appreciated.

Thanks

[2017-08-15 04:26] goodjack opened #239 "How to prevent & convert to &amp; when using "withSource"?"
# Steps required to reproduce the problem
[code]

# Expected Result

[code]

# Actual Result

[code]

How to prevent `&` convert to `&amp;` when using "withSource"?  Thanks.

[2017-08-17 12:00] maciekpaprocki opened #240 "Transformer error logging"
# Steps required to reproduce the problem

1. Call `Facebook\InstantArticles\Parser::parse`

# Expected Result

I should receive instance of instant article if transformation worked.
In case it failed I should receive exception or array of exceptions.

# Actual Result

All debug messages are logged to output.

[2017-08-24 07:18] tapankumar opened #241 "Twitter Embed Code Issue"
# Steps required to reproduce the problem (Script tag is being removed that is "<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>" )
HTML
[code]
[code]
# Expected Result

[code]

# Actual Result

[code]

[2017-08-25 14:05] #241 closed

[2017-08-25 14:05] tapankumar commented on #241
This is now resolved.

[2017-08-25 14:08] tapankumar opened #242 "Youtube Iframe Hard coded Width And Height"
# Steps required to reproduce the problem

Example Youtube Iframe:
[code]
[code]

I want to hardcode the iframe width and height. Please suggest rule chage.

# Expected Result
[code]
# Actual Result
[code]

[2017-08-25 18:03] tapankumar commented on #242
I solved with PHP DOMDocument however if any build in solution, let me know.

[code]

[2017-08-30 15:03] loushou opened #243 "Transformer Configuration Question"
# Steps required to reproduce the problem
I am using wordpress. Have a particular structure of html content that exists on 1000s of posts on the site, and for some reason defining what I believe to be a very specific rule to target an element, still yields a message saying that there is no rule for the element.

This is the element structure:
[code]

I am trying to specifically target the img tag.

[2017-08-31 15:10] loushou commented on #243
I did want to thank whoever answers this question, for taking the time out of their day to answer what is probably a remedial question. Sorry if it is, and thanks for your attention on this.

Lou

[2017-09-08 18:16] tracyaxelson opened #245 "Using composer - error on log4php"
# Steps required to reproduce the problem

1. Using Drupal 7 and Composer Manager, enabled Facebook Instant Articles module
2. composer.json is set to rebuild automatically - confirmed that FIA requirements are in file
3. php composer.phar install

# Expected Result

* installation of all dependencies in /sites/all/modules

# Actual Result

* Failure.  Here's the error:

`[RuntimeException]
  Fail

[2017-10-13 05:33] sephirith opened #252 "Facebook transformer removing html entity codes"
The Facebook transformer process is sanitizing code and removing HTML codes for non-printing characters Is there any way these can be preserved to go across to FB? Examples entity codes below:

- &nbsp; (highest priority)
- &thinsp; (low)
- &#8239; (low)

I've tried using the following rule:

array(
'class' => 'PassThroughRule',
'selector' => '//p[.=codepoints-to-string((160))]',
//'selector' => '

[2017-10-17 12:48] abuzakham commented on #241
Hello, I'm facing the same issue @tapankumar can you please explain how this fixed.

[2017-10-17 13:51] mustafamasa commented on #239
I'm having the same problem.
Did you solve it?

[2017-10-24 09:18] phongtattuan commented on #216
hi @kolunar,
how can you display the `Zawgyi-One` and `Manage custom font` on typeface
my page don't have `Manage custom font` option

thank you.

[2017-10-27 06:38] tungvn opened #271 "@meta "fb:op-recirculation-ads" were removed when Transformer?"
1. Prepare input html and make sure html contains `meta` tag "fb:op-recirculation-ads", like this:

[code]

2. Load rules and load input html by Transformer

[code]
I added some custom rules for this `meta` tag, but anything change

[code]

3. Import Instant Article

[code]

How to add that meta tag?

[2017-10-30 04:38] tungvn commented on #271
I have make a PR to fix this issue

[2017-10-30 05:55] ektasingh2408 opened #273 "100% widthAd Format of instant article"
How can be implement a ad code  in 100% width

[2017-10-30 07:15] #273 closed

[2017-11-01 21:07] kaushiksrv opened #274 "Hindi not Supporting"
# Steps required to reproduce the problem

1. I published Hindi article on my site and on production article something weird showing but on visiting **_Feed URL_** shows everything fine
![65](https://user-images.githubusercontent.com/29793077/32297817-6b8685b4-bf76-11e7-9b24-4e3eef45f3f9.PNG)

# Expected Result

* It should supoort hindi

# Actual Result

*
![564848](https://user-images.githubuser

[2017-11-06 09:35] koaungduwun commented on #216
@phongtattuan
Ask a question/requesting for the feature at https://business.facebook.com/direct-support/
![fbia-direct-support](https://user-images.githubusercontent.com/28386342/32434237-dcb84464-c30b-11e7-8c5a-5bc9c6420f60.png)

[2017-11-06 09:57] KhunHtetzNaing commented on #216
not have direct support menu :'(
@koaungduwun ![image](https://user-images.githubusercontent.com/12862097/32435443-548ec820-c30f-11e7-9cfb-8ccbf3be950d.png)

[2017-11-08 12:49] timjacobi commented on #236
What is the enclosing element around the `<strong>`? The scope of the PassThroughRule you define doesn't include the text.

[2017-11-08 13:09] timjacobi commented on #236
This is the set of rules I have come up with to support your case. Does that help?
![screen shot 2017-11-08 at 13 07 30](https://user-images.githubusercontent.com/2023165/32550682-f063358e-c485-11e7-9505-e0ea7d21aba5.png)

[2017-11-10 21:34] pestevez opened #278 "Add caption property to Interactive Rule"
Embeds support captions using a <figure> element: https://developers.facebook.com/docs/instant-articles/reference/embeds
We should add a property to the `InteractiveRule` to support this element.

Related to https://github.com/Automattic/facebook-instant-articles-wp/pull/772

[2017-11-17 23:44] everton-rosario opened #281 "Treat charset/encoding and parameter \DOMDocument for toDOMElement()"
We need to treat correctly the charset encoding and also force parameter \DOMDocument to be created already or we create it considering the charset encoding informed

Also make parameter required.

Reference: https://github.com/facebook/facebook-instant-articles-sdk-php/pull/280#discussion_r151795416

Reference: https://github.com/facebook/facebook-instant-articles-sdk-php/pull/280#discussion_r151

[2017-11-17 23:45] everton-rosario opened #282 "Consider using XHP on toDOMElement()"
We should consider using XHP for the [hhvm](https://github.com/facebook/facebook-instant-articles-sdk-php/tree/hhvm) branch

[2017-11-18 00:07] everton-rosario opened #283 "Retire "type" from properties on Rules for transformer"
Remove the necessity of using the "type" on each property for the rules on the transformer.

[2017-11-18 00:16] everton-rosario opened #284 "Drop class ImageInsideParagraphRule"
Not needed anymore

[2017-11-18 00:18] everton-rosario opened #285 "Create proper verbosing system for better debugging Transformer"
Reference: https://github.com/facebook/facebook-instant-articles-sdk-php/pull/280/files/4a9295d3e17006a7496c344ad80c8a85b0d426e1#discussion_r151805048

[2017-11-18 00:19] everton-rosario opened #286 "Deprecate Rule ParagraphFooter and merge it with ParagraphRule"
Reference: https://github.com/facebook/facebook-instant-articles-sdk-php/pull/280/files/4a9295d3e17006a7496c344ad80c8a85b0d426e1#discussion_r151804844

[2017-11-23 04:01] kherlen commented on #239
I'm having the same problem

[2017-11-23 14:39] everton-rosario commented on #239
Nice finding!
This was not covered into our testcases and indeed this is happening with the SDK itself.

On this PR  we can see the issue happening, it is something with the way PHP encodes content while saveXML() is called.

[2017-11-23 18:08] notallow opened #288 "Not possible to set multiple meta properties with the same property_name using addMetaProperty method of the InstantArticle class"
# Steps required to reproduce the problem

1. I want to set multiple <meta property="article:tag" in the IA, e.g.:
[code]
2. I call  addMetaProperty repeatedly with the same property_name= "article:tag" but with different tags, e.g. code used in the functions.php of Wordpress theme
[code]
# Expected Result

All "article:tag" meta properties are set in the IA

# Actual Result
Only the last "article

[2017-11-23 18:13] everton-rosario commented on #288
Do you have a specific use case which you are trying to add those duplicate tag names?
What exactly are you adding to these meta-tags?

[2017-11-23 18:17] notallow commented on #288
I want to implement this rule:

from https://www.facebook.com/facebookmedia/get-started/audience-optimization

[2017-11-23 18:44] everton-rosario commented on #288
This is referring to add the tag to the post you are making on Facebook, just like any regular post, by enabling this feature to your page, then using this feature once you are sharing a post.

As far as I know we don't have this configuration granularity to the Instant Article markup document.
Do you have any other link to the specs you are following regarding the adding tags to the head of Insta

[2017-11-23 19:32] notallow commented on #288
The documentation describing interest tags is not very detailed, but Audience Optimization guide mentioned above is referring to Instant Article RSS feed, so this markup should be applied to the Instant Articles.

Also regarding https://developers.facebook.com/docs/instant-articles/reference/article

Open Graph markup of the Article contains _article:tag_ property:
https://developers.facebook.com/

[2017-11-23 20:09] everton-rosario commented on #288
All the Open Graph rules does apply to the Instant Article links, since an Instant Article enabled link sometimes is not rendered as Instant Article (in a desktop browser for example).
This way, if the documentation for web links on the audience targeting refers to adding those meta-tags, those were expected to be added into your web article link (the html code on your site only), not inside the I

[2017-11-23 20:09] #288 closed

[2017-11-27 12:10] #239 closed

[2017-11-29 20:30] everton-rosario opened #293 "Use hack arrays over collections"
Use hack arrays over collections, into [hhvm_strict](https://github.com/facebook/facebook-instant-articles-sdk-php/tree/hhvm_strict) branch.

[2017-11-30 05:42] yeah-sir opened #294 "Add image caption to global rules for header Image"
PR [#237](https://github.com/facebook/facebook-instant-articles-sdk-php/pull/279) adds a global rule to add images to the header. We need to enhance this rule to consider the image caption as well while adding an image to the header

[2017-12-01 18:22] #271 closed

[2017-12-01 19:05] Arjunghimire commented on #274
same bro here always ..have you solved this problem?? plz tell me some idea ??

[2017-12-01 20:00] yeah-sir commented on #245
@tracyaxelson are you still seeing this issue. This looks more like a git issue than something wrong on the repo. Can you try the solution [here](https://stackoverflow.com/a/15851500) to see if it fixes the issue?

[2017-12-01 20:43] yeah-sir commented on #274
@kaushiksrv The SDK supports languages of different charsets. Can you make sure you are providing the right charset in the `Transformer::transformString` method ?

[2017-12-15 09:30] jeganfox opened #296 "How to hide the subtitle ?"

[2017-12-15 15:16] vkama commented on #296
Can you please provide more info?

[2017-12-15 19:17] vkama opened #297 "Improve transformer test testDontTransformHTMLEntitiesTwice()"
Improve the test, add at least these two other cases:

Author::create()->withName("Test & Test")

Author::create()->withName("Test & Test")->withURL('http://facebook.com/param1=val1&param2=val2')

[2017-12-17 13:42] SamiEgy opened #298 "0"

[2017-12-18 10:24] everton-rosario commented on #298
Hey @SamiEgy can you share the Instant Article markup you generated?
For you to generate InstantArticle, you gotta set it on the Element class InstantArticle.

Example code:
[code]

Im closing it for now, since this is already covered by the SDK.

Let us know if you have any other problem or if this problem persists for you.

[2017-12-18 10:24] #298 closed

[2017-12-19 13:28] everton-rosario commented on #238
The basic usage of this PHP library expects you to build the Instant Article using the Element structure setting attribute by attribute in case you have all your page contents as accessible meta-data. Like this short code:

[code]

Lets consider you have a page/post that has this URL: `http://yourdomain.com/path/article.html`

Be sure you have these meta-tags into your web article:
[code]

Then wh

[2017-12-19 13:28] #238 closed

[2018-01-06 14:18] closer01 opened #302 "Composer install log4php problem"
I try to install with composer and it gives this error :

[code]

[2018-01-06 14:37] Jayad commented on #302
Could you paste the exact command you tried?

[2018-01-06 17:14] closer01 commented on #302
@jayad composer require facebook/facebook-instant-articles-sdk-php

[2018-01-08 03:03] Jayad commented on #302
1. Are you able to execute any other git commands? what is the o/p of git --help command from your current working directory.
2. Could you try to execute the composer in verbose mode and share the o/p?   composer -vvv require facebook/facebook-instant-articles-sdk-php
3. Which OS you are in? If Windows is the git to use from bash command is selected? Can u try appending the git.exe installed path

[2018-01-08 14:06] closer01 commented on #302
@Jayad

1- I use Composer version 1.6.2
2 -  It gave same error
3- I use windows 10 , xammp. I have tried to install other packages but all gives same error. Do you have any recommendation?

[2018-01-08 16:26] Jayad commented on #302
What's the op for git - - help.  Probably could you try to append the path of the git.exe to your  existing PATH variable in settings?
This might help?
http://www.chambaud.com/2013/07/08/adding-git-to-path-when-using-github-for-windows/

Please paste the o/p of composer -vvv require facebook/facebook-instant-articles-sdk-php

[2018-01-09 14:05] lukasz-zaroda opened #303 "Bold element is using <b> tag but the official documentation explicitly say to not use it"
This is something I don't get it, maybe someone will be able to help me.

Documentation at: https://developers.facebook.com/docs/instant-articles/sdk/transformer-rules clearly states:

But the `Bold` element in this SDK is created in the following way:

https://github.com/facebook/facebook-instant-articles-sdk-php/blob/adcaf6ee43cd2b43ee81b2a84305ca65e83e50fc/src/Facebook/InstantArticles/Elements/

[2018-01-09 16:53] everton-rosario commented on #303
Hey @lukasz-zaroda are you having some issue using `<b>` content or `<strong>`?
Can you elaborate a little more your use case scenario so we can help properly?

Even though our documentation states about not being the proper use of `<b/>` tags we still support it for retro-compatibility related issues.

Basically the intended output from the SDK is a valid Instant Article markup content file.
To p

[2018-01-09 16:53] #303 closed

[2018-01-10 12:36] lukasz-zaroda commented on #303
The issue is, I think, that if documentation clearly states that `b` is no a valid Instant Article tag but supports it anyway, then we are risking that they will drop that support at anytime, and should change this to "strong" or to avoid confusion, add another element `Strong` and mark `Bold` as deprecated.

[2018-01-10 12:38] lukasz-zaroda commented on #303
And I realize that saying "they" in this context is not accurate because you are the same people, but there always can happen some lack of coordination, or someone can simply misunderstand things by reading code of this SDK, and can start using `b` himself :) .

[2018-01-10 16:29] everton-rosario commented on #303
Yes, just found that reference you mentioned on the docs.
Indeed it was on the roadmap a plan to remove it, but given the usage, `<b>` tags will still be supported.

Thanks for raising this up, I've updated the docs mentioning about that particular case on usage of `<b>` vs `<strong>`.

[2018-01-15 09:52] NicoCaldo opened #305 "div id don' show on Instant Article. No rules set"
# Steps required to reproduce the problem

I need to insert an embedded post from vk. This is the code I have to copy on the body of my Wordpress article

[code]

# Expected Result

* Instant Article should show it as a normal embedded

# Actual Result

* No rules defined for <div> in the context of InstantArticle
I think I need to set up some rules to show it on Instant Article but I can't unders

[2018-01-15 11:11] everton-rosario commented on #240
All the SDK library has a warning mechanism, throwing exceptions only on programming errors or something that is not possible for most of the times be recovered automatically.

I'll improve the Parse error handling in a future PR, but this is the first step with this PR: #304

[2018-01-15 12:43] everton-rosario commented on #305
Is it possible to add a class to this <div> of yours?
This way we can better select that kind of content across all of your posts (since I see this one having as ID some sort of unique info for this particular snippet.

[code]
In the aboce example I've added a class to it: "your-vk-class"

Then, you can add this to your custom Rules:
Follow this sequence to add this rule configuration:
1. Click on

[2018-01-15 12:43] #305 closed

[2018-01-15 12:47] everton-rosario commented on #296
When more info provided, we reopen the issue.

[2018-01-15 12:47] #296 closed

[2018-01-15 12:51] everton-rosario commented on #274
The SDK should be used with these instructions:
[code]

[2018-01-15 12:51] #274 closed

[2018-01-15 12:53] everton-rosario commented on #245
Per PR #304 you will need to use this calls to get the logging from transformation process (if wanted).

[code]

[2018-01-15 12:53] #245 closed

[2018-01-15 12:55] everton-rosario commented on #302
This won't be needed once this PR #304 lands.
The transformation info/log can be obtained with the call `$transformer->getLogs()`.

Full contextualized after transformation call:
[code]

[2018-01-15 12:55] #302 closed

[2018-01-15 12:56] everton-rosario commented on #285
PR #304 for this issue.

[2018-01-15 12:56] #285 closed

[2018-01-15 12:57] everton-rosario commented on #293
This is done on hhvm branch.
https://github.com/facebook/facebook-instant-articles-sdk-php/tree/hhvm

[2018-01-15 12:57] #293 closed

[2018-01-15 12:59] everton-rosario commented on #21
PR #304 for this.

[2018-01-15 12:59] #21 closed

[2018-01-15 13:00] everton-rosario commented on #14
PR #304 for this.

[2018-01-15 13:00] #14 closed

[2018-01-15 13:01] #240 closed

[2018-01-16 17:44] everton-rosario opened #306 "Decouple Warnings and Logs from Transformer"
# Refactory
Decouple the Warnings and Logs reference from Transformer instance and set it as a reference for a class that will hold the Warnings and the Logs (Logger)

[2018-01-19 13:12] mburak opened #308 "Support '*' selector"
I'm expecting that using the * selector on a PassThroughRule would go through every tag in the html but it's not doing that. It would be good to support this.

[2018-02-01 13:32] #242 closed

[2018-02-01 13:33] vkama commented on #237
@pribeh Are you still needing help with this?

[2018-02-01 14:08] pribeh commented on #237
No.

[2018-02-01 14:08] #237 closed

[2018-02-19 11:21] everton-rosario commented on #284
This is already done.

[2018-02-19 11:21] #284 closed

[2018-03-01 22:17] m4olivei opened #321 "symfony/css-selector requirement"
# Steps required to reproduce the problem

1. Install Drupal >= 8.4.0 with the FBIA module 8.x-2.x branch, which requires the FBIA SDK at `^1.0.0`

# Expected Result

* Composer installs latest version of FBIA SDK

# Actual Result

* Composer installs version 1.7.0 of FBIA SDK

After some debugging, it turns out that this result is due to conflicting version constraints for `symfony/css-selector`

[2018-03-06 13:47] everton-rosario commented on #243
Sorry for the long wait. Posting complete reference for future:

Given this HTML structure:
[code]

Best way to achieve this is (if single image per `<ul>` structure
[code]

[2018-03-06 13:47] #243 closed

[2018-03-07 19:55] mburak commented on #321
Hey @m4olivei, thanks for flagging this up!
We are working on the fix for this. It will be ready soon.

[2018-03-08 18:20] mburak commented on #321
Fixed by #319

[2018-03-08 18:20] #321 closed

[2018-03-08 21:46] m4olivei commented on #321
Ah! Not sure how I missed that PR, thanks!

[2018-03-08 21:50] m4olivei commented on #321
@mburak when can we expect a new release with this code?

[2018-03-09 04:17] leemunkiat opened #322 "how to implement to cms without composer"
Hi,
I would like to ask how do i install it without composer?

[2018-03-09 13:25] mburak commented on #321
@m4olivei we just released v1.9.1 with that fix. Have a good day!

[2018-03-09 13:29] mburak commented on #322
Hi @leemunkiat, unfortunately we do not support non-composer installation. You can try installing each dependency one by one (there is some information in the web about how to do that) but it's still would be very unstable and we don't recommend that.

[2018-03-09 13:29] #322 closed

[2018-03-12 18:15] aminkhannsu opened #323 "Failed Connection with graph.facebook.com"
# Steps required to reproduce the problem

1. I have post the article data and it returns error.

# Expected Result

* Success

# Actual Result

* array(1) { ["error"]=> string(58) "Failed connect to graph.facebook.com:443; No route to host" }

[2018-03-12 19:04] aminkhannsu commented on #323
Need help. Urgent...!!!

[2018-03-12 22:04] pestevez opened #324 "Handling of Ads Settings fields"
The latest version of the SDK (1.9.1) is throwing an exception when parsing a JSON file that does not have both `audience_network_placement_id` AND `raw_html`. Per @mburak's [comment](https://github.com/facebook/facebook-instant-articles-rules-editor/pull/83#issuecomment-372345975), at most one of them, will be specified.

## Expected Result
The SDK should handle JSON files where one of these two

[2018-03-13 15:09] everton-rosario commented on #323
Looks like you are having some connection issues to reach out to Facebook graph API servers.
We are not experiencing any issues on the graph API end.

Does your server has ACL or permissions to outbound connections?

We can reopen if you have any reproducible steps for a better investigation

[2018-03-13 15:09] #323 closed

[2018-03-15 05:28] yeah-sir commented on #98
Hi @everton-rosario looks like this issue was opened a while ago. Can we close it out if its no longer a relevant issue?

[2018-03-26 18:17] sbbic commented on #216
We also don't have the "Direct Support" option - any way to get this enabled on our account? The default fonts for the Khmer language look horrible.

[2018-04-02 12:51] #233 closed

[2018-04-05 18:51] pestevez opened #329 "Support paragraphs inside Blockquote"
This issue comes from https://github.com/Automattic/facebook-instant-articles-wp/issues/912

The Blockquote element in Instant Articles supports paragraphs (and perhaps other HTML elements) but I could not generate a set of rules to support the following output:

[code]

The [documentation](https://developers.facebook.com/docs/instant-articles/reference/blockquote) for the blockquote mentions that

[2018-04-20 02:38] jehan96 opened #330 "FAN on AMP?"
hi there
quick question

i am searching on how to monetize my blog with FAN..
i know that normal blog can use FAN, but does AMP support it?
while searchin
this link brought me here
https://developers.facebook.com/docs/instant-articles/other-formats#instant-articles-to-amp

but i don't found FAN supported in here
https://www.ampproject.org/docs/reference/components/amp-ad#supported-ad-networks

can

[2018-05-07 04:37] yeah-sir commented on #330
@jehan96 You can find more information on AMP support for Facebook Audience Network here: https://developers.facebook.com/docs/audience-network/web/amp-support

[2018-05-07 05:43] jehan96 commented on #330
@yeah-sir unfortunately the link is broken..

[2018-05-18 00:47] koconder commented on #112
@simonengelhardt current travis build only supports PHPUnit tests. I have been working on a fork of a 3 year old CI toolset for wordpress plugins https://github.com/koconder/wordpress-test-template

This will allow for full testing beyond PHPUnit as it will load up a CI test using a Wordpress install. We can then test plugin against Wordpress versions and PHP version combinations as well as plugin

[2018-05-28 17:44] pestevez opened #331 "Validate Analytics Configuration"
The fields expected in the Analytics configuration (`` and ``) may not be present. We should ensure they exist before trying to access them:

https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/src/Facebook/InstantArticles/Transformer/Transformer.php#L620

We are already validating the existence of the fields for the Ads Settings, so we should do the same for Analytics.

[2018-06-28 12:36] amjad-eremnews opened #332 "Installation problem on laravel 5.6"
Installing using composer `composer require facebook/facebook-instant-articles-sdk-php`

#Result:

` Problem 1
    - Conclusion: don't install facebook/facebook-instant-articles-sdk-php v1.9.2
    - Conclusion: don't install facebook/facebook-instant-articles-sdk-php v1.9.1
    - Conclusion: remove symfony/css-selector v4.1.0
    - Installation request for facebook/facebook-instant-articles-sdk-ph

[2018-07-12 14:24] everton-rosario commented on #332
Hey @amjad-eremnews can you please check if this enables you to build it with more php and sub dependencies?

I've added an extra layer of compatibility.

For testing it, you will need to install it locally:

[code]

Please reopen or ping me if this is still a problem for your environment build.

[2018-07-12 14:24] #332 closed

[2018-08-16 05:42] ServeMe opened #334 "RTL problem"
I am using facebook instant articles for wordpress and I choose "Enable Right-to-Left (RTL) publishing"
but it does not work this is a sample of my blog
[code]

on the other side on Instant articles when I check the content I can not find any dir="rtl"

Instant Articles for WP : 4.1.1
Wordbress : 4.9.6

any ideas?

[2018-08-22 16:38] m4olivei opened #335 "Unable to use ConstantGetter with InteractiveRule"
# Steps required to reproduce the problem

1. Define a Transfomer rule to match embeds and apply InteractiveRule with constant width and height. eg.
[code]
2. Run the transform against some HTML that includes:
[code]

# Expected Result

* You get an `op-interactive` with width = 320 and height = 160

# Actual Result

* When running the transform, you get the following error:
[code]
# Additional co

[2018-08-22 20:59] m4olivei commented on #335
@everton-rosario Yeah totally, just making ConstantGetter more liberal like my override class would do it. Sure, I'll file a quick PR.

[2018-08-22 21:06] m4olivei commented on #335
@everton-rosario I don't have time to dig in to a point where I could add a test, so I'll leave it there for now, feel free to add a test if you think it needs it.

[2018-08-26 22:45] kolmtk opened #337 "autoplay video in fullscreen"
how to autoplay the video in fullscreen mode after the user open the articles

Example:
https://www.facebook.com/aktobelyha.mag/posts/10156267983928127

[2018-09-01 05:54] ServeMe commented on #334
the problem was I was using rss feed with the instant articles plugin
I think that must mention on facebook documentation that when I have wordpress I do not need to use rss feed
I hope this help others to solve the problem early

BR,
Alaa

[2018-09-01 05:54] #334 closed

[2018-09-06 20:05] everton-rosario commented on #337
I can't see the post content.
What exactly do you mean by fullscreen mode within article?
Do you have the article markup?

[2018-10-18 23:06] javiermorquecho commented on #241
1. "InteractiveRule" add an iframe for embed the tweet
2. Selector is your node where is the tweet in your HTML code
3. Properties define the iframe

[2018-11-09 18:08] #331 closed

[2018-11-16 20:28] pestevez opened #346 "Transformer's transform method does not account for settings"
# Steps required to reproduce the problem

1. Use a set of rules that include Analytics or Ads settings
2. Create instant article markup using the [Transformer::transform](https://github.com/facebook/facebook-instant-articles-sdk-php/blob/master/src/Facebook/InstantArticles/Transformer/Transformer.php#L285), instead of [Transformer::transformString](https://github.com/facebook/facebook-instant-art

[2018-11-27 19:30] kamranata commented on #171
Hi @everton-rosario. I saw you added to your composer.json
`"php": "^5.4 || ^5.6 || ^7",
"symfony/css-selector": "^2.8 || ^3.1 || ^4.1",`

But when I use `composer require facebook/facebook-instant-articles-sdk-php` composer uses another json file. `
        "php": "^5.4 || ^7.0",
        "symfony/css-selector": "^2.8 || ^3.0",`

Can you fix this?

[2018-12-03 14:31] everton-rosario commented on #171
So you're mentioning a conflict with the symfony/css-selector. Can you propose a PR so I can understand better what you are proposing?

Thanks for reporting it.

[2019-01-08 15:24] #337 closed

[2019-01-08 15:25] #252 closed

[2019-03-21 19:01] #346 closed

[2019-06-07 19:08] RubenBautistaEF opened #350 "Problem in rule "multiple" - IA"
hello everyone

# Expected Result

Within the rules that make up an instant article, a rule of multiple type was defined, so that when a note contains a tweet, the blockquote and its corresponding script are painted, which contains the Twitter library that allows its correct visualization in Instant Articles.

 * rule used*

     {
            "class": "InteractiveRule",
            "selector": "d

[2019-07-16 08:42] muinh commented on #350
@pestevez
@infinitely-young added a good solution.
Check it please ASAP

[2019-07-25 12:54] everton-rosario commented on #350
@infinitely-young or @muinh , would you send the PR with the [referred fix](https://github.com/infinitely-young/facebook-instant-articles-sdk-php/commit/6b7da103d74250cb20e02f49c6f3f5fd4e32c655)?

[2019-09-02 12:24] greeflas opened #352 "Query params in related articles"
# Steps required to reproduce the problem

Hello! I have a question. Is it possible to add query params to related articles URL using SDK?

[code]

# Expected Result

* `https://www.site.local/some-page.html?utm_source=fb&utm_medium=rads`

# Actual Result

I have `&amp;` instead of `&` in URL.

* `https://www.site.local/some-page.html?utm_source=fb&amp;utm_medium=rads`

[2019-10-06 20:15] #352 closed

[2019-10-22 16:21] dsmikeyorke commented on #350
Has there been any progress on this?  We are experiencing the same fatal error.

[2020-01-20 08:37] c-Rolland opened #353 "[BUG] : Problem with the Span and Anchor Rule"
The transformation of **<a>** and **<span>** element with the **Parser** class does not work.

[2020-01-20 14:34] #353 closed

[2020-07-31 16:09] prilcool opened #358 "Travis CI Php 5.5 and Php 5.4"
Is this project supporting php 5.5  and php 5.4 .

Noticed travis ci is failing only for those 2 versions , failing to install php 5.5 and php 5.4  so automated test's not happening ?.

Below snip :
Downloading archive: https://storage.googleapis.com/travis-ci-language-archives/php/binaries/ubuntu/16.04/x86_64/php-5.5.tar.bz2
0.12s$ curl -sSf --retry 5 -o archive.tar.bz2 $archive_url && tar xjf ar

[2020-10-16 22:27] johnuno11 opened #362 "Fetch"
@zpao fetch sdk

[2020-11-30 09:28] romainst opened #363 "Integration in Symfony 5 is not possible because of css selector version in composer.json"
# Steps required to reproduce the problem

1. Integration of the SDK is not possible within Symfony 5 because of symfony/css-selector versions stated in composer.json

# Expected Result

* Building works properly without Symfony 4 files

# Actual Result

* Building with Symfony 5 does not work

# Suggested fix in composer.json
`"symfony/css-selector": "^2.8 || ^3.1 || ^4.1 || ^5.1",`

[2020-12-28 13:31] pethanihiten opened #364 "FBInterstitialAd is gives all time "server error""
# Steps required to reproduce the problem

-> We used Xcode 12.3 with the latest FB SDK
-> We using pod for installing SDK
 pod 'FBAudienceNetwork'

-> Facebook banner and native ads work but in Interstitial got an error.
-> We check app ads id with "IMG_16_9_APP_INSTALL#YOUR_PLACEMENT_ID" , "YOUR_PLACEMENT_ID" and "VID_HD_9_16_39S_APP_INSTALL#1271929509856193_1285428311839646" but not getting any

[2020-12-28 13:38] #364 closed

[2021-02-11 08:14] KhalupiakYaroslav opened #366 "support php 8"

[2021-03-04 09:55] radamou opened #367 "Use InstantArticleInterface instead of InstantArticle as parameter type for Transformer methods"
# Steps required to reproduce the problem

1.
2.
3.

# Expected Result

*

# Actual Result

*

[2021-05-28 03:55] victorbuild commented on #363
Hi! how do you deal with this problem?

[2022-01-26 07:04] iLexN commented on #366
any update for support PHP 8?

There have a pull requests #372 .

[2022-08-03 01:23] firmlab opened #374 "How to create a scheduled facebook instant article through PHP SDK"
I'm wondering if there's a method on PHP SDK to submit an instant article as a Scheduled one.

I can't find it either on the SDK or [documentation](https://developers.facebook.com/docs/instant-articles/api) to do this, but from the recent UI of Facebook Creator Studio this seems possible?

![Facebook Creator Studio 2022](https://i.stack.imgur.com/QWS28.png)

[2022-08-18 17:29] DevikVekariya commented on #366
Any update or timeline on PHP 8 support?